<!--C:\VSCodeProjects\Webkert-nyari-tabor-foglalo\Webkert-nyari-tabor-foglalo\src\app\core\components\footer\footer.component.html-->

<!-- Footer -->
<footer class="footer, site-footer">
    <div color="primary" class="footer">
  
      <div class="footer-content">
        <div class="footer-logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a routerLink="/about">Rólunk</a></li>
            <li><a routerLink="/privacy">Adatvédelem</a></li>
            <li><a routerLink="/terms">Felhasználási feltételek</a></li>
            <li><a routerLink="/contact">Kapcsolat</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  </footer>
  
  <hr>
  <hr>
  <footer class="footer, site-footer">
    <mat-toolbar color="primary" class="footer">
  
      <div class="footer-content">
        <div class="footer-logo green">
          <h3>Nyári Tábor Foglaló</h3>
          <span>© {{currentYear}}Nyári Tábor Foglaló - Minden jog fenntartva</span>
          <span>Kapcsolat: info&commat;nyaritabor.hu | +36 30 123 4567</span>
        </div>
        <div class="watermark">
          <p class="name">Fábián Bernát</p>
        </div>
        <div class="footer-links">
          <ul>
            <li><a routerLink="/about">Rólunk</a></li>
            <li><a routerLink="/privacy">Adatvédelem</a></li>
            <li><a routerLink="/terms">Felhasználási feltételek</a></li>
            <li><a routerLink="/contact">Kapcsolat</a></li>
          </ul>
        </div>
      </div>
    </mat-toolbar>
  </footer>